<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd
       http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.0.xsd
       http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
       ">

    <context:annotation-config />

    <context:component-scan base-package="ru.rzncenter.webcore.web" />
    <context:component-scan base-package="ru.rzncenter.webcore.utils" />
    <context:component-scan base-package="ru.rzncenter.webcore.rbac" />
    <context:component-scan base-package="ru.rzncenter.webcore.service" />
    <context:component-scan base-package="ru.rzncenter.webcore.handlers" />
    <context:component-scan base-package="ru.rzncenter.webcore.json" />
    <context:component-scan base-package="ru.rzncenter.webcore.job" />

    <jpa:repositories base-package="ru.rzncenter.webcore.dao" transaction-manager-ref="transactionManager" entity-manager-factory-ref="myEmf" />

    <!-- Кеширование -->

    <cache:annotation-driven />

    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
        <property name="cacheManager" ref="ehcache"/>
    </bean>

    <bean id="ehcache" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation" value="classpath:/ehcache.xml" />
    </bean>

    <!-- Транзакции -->

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="myEmf" />
    </bean>

    <tx:annotation-driven />

    <!-- JdbcTemplate -->

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dbDataSource"/>
    </bean>

    <bean id="persistenceExceptionTranslationPostProcessor"
          class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
           <property name="prefix">
                  <value>/WEB-INF/views/</value>
           </property>
           <property name="suffix">
                  <value>.jsp</value>
           </property>
    </bean>

    <!-- Загрузка файлов -->

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="50000000"/>
        <property name="defaultEncoding" value="utf-8"/>
    </bean>


    <!-- Настройки безопасности -->

    <import resource="security.xml" />

    <!-- Настройки приложения -->

    <!--<util:properties id="props" location="classpath:/application.properties" />-->

    <context:property-placeholder location="classpath:application.properties" />

    <!-- Сообщения интернализации -->

    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="defaultEncoding" value="UTF-8" />
        <property name="basenames">
            <list>
                <value>messages</value>
                <value>ValidationMessages</value>
            </list>
        </property>
    </bean>

    <!-- Валидация -->

    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <property name="validationMessageSource" ref="messageSource" />
    </bean>

    <!-- AOP (конфигурируем через аннотации)-->

    <aop:aspectj-autoproxy />

    <!-- Отправка email -->

    <bean id="mailSender"
          class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="${mailserver.host}"></property>
        <property name="port" value="${mailserver.port}"></property>
        <property name="protocol" value="${mailserver.protocol}"></property>
        <property name="username" value="${mailserver.username}"></property>
        <property name="password" value="${mailserver.password}"></property>
        <property name="defaultEncoding" value="${mailserver.defaulEncoding}"></property>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>
<!--                <prop key="mail.smtp.starttls.enable">true</prop>
                <prop key="mail.smtps.ssl.trust">*</prop>-->
                <prop key="mail.smtp.quitwait">false</prop>
            </props>
        </property>
    </bean>

    <!-- Шаблоны -->

    <bean id="velocityEngine"
          class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
        <property name="velocityProperties">
            <value>
                resource.loader=class
                class.resource.loader.class=org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
            </value>
        </property>
    </bean>

    <!-- Async -->

    <task:annotation-driven executor="myExecutor" scheduler="myScheduler" />
    <task:executor id="myExecutor" pool-size="5-15" queue-capacity="11" />
    <task:scheduler id="myScheduler" pool-size="10" />

</beans>