<div class="row form-group">

    <div class="col-xs-12 col-md-6">

        <div class="panel panel-default">
            <div class="panel-heading">{{'Uploaded files' | translate}}</div>

            <div class="panel-body">
                <table class="table">
                    <tbody>
                    <tr ng-repeat="key in uploadedFileKeys" ng-init="path=model[filesAttr][key]">
                        <td>
                            <div ng-if="$parent.descriptions" class="form-group">
                                <input type="text" class="form-control input-sm" ng-model="$parent.descriptions[key]" />
                            </div>
                            <div ng-thumb="{ file: path, width: 100 }"></div>
                            <a target="_blank" href="{{path}}" style="word-break: break-all">{{ctrl.baseName(path)}}</a>
                        </td>

                        <td>
                            <button type="button" class="btn btn-danger btn-xs"
                                    ng-click="ctrl.deleteFile(model, key)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>

    <div class="col-xs-12 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">{{'Upload queue' | translate}}</div>
            <div class="panel-body">

                <div class="form-group" ng-if="urlUploaderParams">

                    <div class="input-group">
                          <input type="text" class="form-control input-sm" ng-model="$parent.fileUrl" placeholder="{{'Upload by url' | translate}}" />
                          <span class="input-group-btn">
                              <button class="btn btn-success btn-sm" ng-click="ctrl.uploadByUrl($parent.fileUrl)" ng-disabled="urlUploaderProcess">{{'Upload' | translate}}</button>
                          </span>
                    </div>

                </div>

                <input type="file" nv-file-select uploader="ctrl.uploader" multiple /><br/>

                <p>Queue length: {{ ctrl.uploader.queue.length }}</p>

                <table class="table">
                    <thead>
                    <tr>
                        <th>{{'Name' | translate}}</th>
                        <th ng-show="ctrl.uploader.isHTML5">{{'Info' | translate}}</th>
                        <th>{{'Status' | translate}}</th>
                        <th>{{'Actions' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in ctrl.uploader.queue">
                        <td>
                            <div class="media-left" ng-show="ctrl.uploader.isHTML5"
                                 ng-thumb="{ file: item._file, width: 80 }"></div>
                            <strong style="word-break: break-all">{{ item.file.name }}</strong>
                        </td>
                        <td ng-show="ctrl.uploader.isHTML5" nowrap>

                            {{ item.file.size/1024/1024|number:2 }} MB

                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar"
                                     ng-style="{ 'width': item.progress + '%' }"></div>
                            </div>

                        </td>

                        <td class="text-center">
                            <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                            <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                        </td>

                        <td>
                            <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()"
                                    ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                <span class="glyphicon glyphicon-upload"></span>
                            </button>
                            <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()"
                                    ng-disabled="!item.isUploading">
                                <span class="glyphicon glyphicon-ban-circle"></span>
                            </button>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div>
                    <div>
                        {{'Progress' | translate}}:
                        <div class="progress" style="">
                            <div class="progress-bar" role="progressbar"
                                 ng-style="{ 'width': ctrl.uploader.progress + '%' }"></div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success btn-xs" ng-click="ctrl.uploader.uploadAll()"
                            ng-disabled="!ctrl.uploader.getNotUploadedItems().length">
                        <span class="glyphicon glyphicon-upload"></span> {{'Upload' | translate}}
                    </button>
                    <button type="button" class="btn btn-warning btn-xs" ng-click="ctrl.uploader.cancelAll()"
                            ng-disabled="!ctrl.uploader.isUploading">
                        <span class="glyphicon glyphicon-ban-circle"></span> {{'Cancel' | translate}}
                    </button>
                    <button type="button" class="btn btn-danger btn-xs" ng-click="ctrl.uploader.clearQueue()"
                            ng-disabled="!ctrl.uploader.queue.length">
                        <span class="glyphicon glyphicon-trash"></span> {{'Remove' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>